// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace EndpointsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage SIP endpoints for IP phones, softphones, and SIP clients
 */
export class EndpointsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EndpointsClient.Options>;

    constructor(options: EndpointsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve a paginated list of all SIP endpoints in your account.
     *
     * @param {Vobiz.ListEndpointsRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.endpoints.listEndpoints({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listEndpoints(
        request: Vobiz.ListEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEndpoints(request, requestOptions));
    }

    private async __listEndpoints(
        request: Vobiz.ListEndpointsRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListEndpointsResponse>> {
        const {
            auth_id: authId,
            limit,
            offset,
            username__contains: usernameContains,
            username__exact: usernameExact,
            username__startswith: usernameStartswith,
            alias__contains: aliasContains,
            alias__exact: aliasExact,
            application_id__exact: applicationIdExact,
            application_id__isnull: applicationIdIsnull,
            sub_account: subAccount,
        } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            username__contains: usernameContains,
            username__exact: usernameExact,
            username__startswith: usernameStartswith,
            alias__contains: aliasContains,
            alias__exact: aliasExact,
            application_id__exact: applicationIdExact,
            application_id__isnull: applicationIdIsnull,
            sub_account: subAccount,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Endpoint/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Endpoint/",
        );
    }

    /**
     * Create a new SIP endpoint that can be used to make and receive calls
     * through IP phones, softphones, or SIP clients. Each endpoint is
     * assigned a unique SIP URI and endpoint ID.
     *
     * @param {Vobiz.CreateEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     *
     * @example
     *     await client.endpoints.createEndpoint({
     *         auth_id: "MA_XXXXXX",
     *         username: "john_doe",
     *         password: "SecurePassword123!",
     *         alias: "John's Desktop Phone",
     *         application: 12345678
     *     })
     */
    public createEndpoint(
        request: Vobiz.CreateEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEndpoint(request, requestOptions));
    }

    private async __createEndpoint(
        request: Vobiz.CreateEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateEndpointResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Endpoint/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Endpoint/",
        );
    }

    /**
     * Retrieve the details of an existing endpoint. The response includes
     * all endpoint attributes and, if the endpoint is currently registered
     * on a SIP client, additional registration details.
     *
     * @param {Vobiz.RetrieveEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.endpoints.retrieveEndpoint({
     *         auth_id: "MA_XXXXXX",
     *         endpoint_id: "87654321"
     *     })
     */
    public retrieveEndpoint(
        request: Vobiz.RetrieveEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.RetrieveEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveEndpoint(request, requestOptions));
    }

    private async __retrieveEndpoint(
        request: Vobiz.RetrieveEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.RetrieveEndpointResponse>> {
        const { auth_id: authId, endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Endpoint/${core.url.encodePathParam(endpointId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.RetrieveEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Endpoint/{endpoint_id}/",
        );
    }

    /**
     * Update an existing endpoint's configuration. You can change the
     * password, alias, or attached application. The fields `username`,
     * `endpoint_id`, `domain`, `allow_same_domain`, `allow_other_domains`,
     * `allow_phones`, and `allow_apps` are locked after creation.
     *
     * @param {Vobiz.UpdateEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.endpoints.updateEndpoint({
     *         auth_id: "MA_XXXXXX",
     *         endpoint_id: "87654321",
     *         alias: "John's Updated Desktop Phone",
     *         password: "NewSecurePassword456!"
     *     })
     */
    public updateEndpoint(
        request: Vobiz.UpdateEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__updateEndpoint(request, requestOptions));
    }

    private async __updateEndpoint(
        request: Vobiz.UpdateEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { auth_id: authId, endpoint_id: endpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Endpoint/${core.url.encodePathParam(endpointId)}/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Endpoint/{endpoint_id}/",
        );
    }

    /**
     * Permanently delete an endpoint from your Vobiz account. Once deleted,
     * the SIP URI will no longer be accessible, and any devices registered
     * with this endpoint will be disconnected.
     *
     * @param {Vobiz.DeleteEndpointRequest} request
     * @param {EndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.endpoints.deleteEndpoint({
     *         auth_id: "MA_XXXXXX",
     *         endpoint_id: "87654321"
     *     })
     */
    public deleteEndpoint(
        request: Vobiz.DeleteEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<string | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteEndpoint(request, requestOptions));
    }

    private async __deleteEndpoint(
        request: Vobiz.DeleteEndpointRequest,
        requestOptions?: EndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string | undefined>> {
        const { auth_id: authId, endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Endpoint/${core.url.encodePathParam(endpointId)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Endpoint/{endpoint_id}/",
        );
    }
}
