// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace SubAccountKycClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Per-sub-account KYC verification (PAN, GST, CIN, Aadhaar, DigiLocker) and hosted email/redirect KYC sessions. Authenticated as the parent main account.
 */
export class SubAccountKycClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountKycClient.Options>;

    constructor(options: SubAccountKycClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the aggregated KYC state for a `customer_use` sub-account —
     * which verifications have passed, whether calls are still blocked, and
     * the business type. The caller must be the parent main account that owns
     * the sub-account (or an admin).
     *
     * @param {Vobiz.GetSubaccountKycStatusRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.ForbiddenError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.subAccountKyc.getSubaccountKycStatus({
     *         sub_auth_id: "SA_XXXXXX"
     *     })
     */
    public getSubaccountKycStatus(
        request: Vobiz.GetSubaccountKycStatusRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.SubAccountKycStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getSubaccountKycStatus(request, requestOptions));
    }

    private async __getSubaccountKycStatus(
        request: Vobiz.GetSubaccountKycStatusRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.SubAccountKycStatus>> {
        const { sub_auth_id: subAuthId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/status`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.SubAccountKycStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vobiz.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/status",
        );
    }

    /**
     * Runs a real PAN verification (Perfios) for the sub-account. `pan` must
     * be exactly 10 characters. Persists a `kyc_verifications` row and
     * recomputes the sub-account's aggregated `kyc_status`.
     *
     * @param {Vobiz.VerifySubaccountPanRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     *
     * @example
     *     await client.subAccountKyc.verifySubaccountPan({
     *         sub_auth_id: "SA_XXXXXX",
     *         pan: "ABCDE1234F"
     *     })
     */
    public verifySubaccountPan(
        request: Vobiz.VerifySubaccountPanRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__verifySubaccountPan(request, requestOptions));
    }

    private async __verifySubaccountPan(
        request: Vobiz.VerifySubaccountPanRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/verify-pan`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/verify-pan",
        );
    }

    /**
     * Runs a real GSTIN verification. `gstin` must be a 15-character GSTIN.
     *
     * @param {Vobiz.VerifySubaccountGstRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     *
     * @example
     *     await client.subAccountKyc.verifySubaccountGst({
     *         sub_auth_id: "SA_XXXXXX",
     *         gstin: "29AAJCN5983D1Z0"
     *     })
     */
    public verifySubaccountGst(
        request: Vobiz.VerifySubaccountGstRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__verifySubaccountGst(request, requestOptions));
    }

    private async __verifySubaccountGst(
        request: Vobiz.VerifySubaccountGstRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/verify-gst`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/verify-gst",
        );
    }

    /**
     * Name-based CIN lookup. Returns candidate company matches; pick one and
     * pass it to [CIN confirm](#operation/confirm-subaccount-cin).
     *
     * @param {Vobiz.SearchSubaccountCinRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKyc.searchSubaccountCin({
     *         sub_auth_id: "SA_XXXXXX",
     *         company_name: "ACME PRIVATE LIMITED"
     *     })
     */
    public searchSubaccountCin(
        request: Vobiz.SearchSubaccountCinRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__searchSubaccountCin(request, requestOptions));
    }

    private async __searchSubaccountCin(
        request: Vobiz.SearchSubaccountCinRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/cin/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/cin/search",
        );
    }

    /**
     * Confirm the CIN selected from the search results.
     *
     * @param {Vobiz.ConfirmSubaccountCinRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKyc.confirmSubaccountCin({
     *         sub_auth_id: "SA_XXXXXX",
     *         company_name: "ACME PRIVATE LIMITED",
     *         selected_cin: "U72900KA2024PTC123456"
     *     })
     */
    public confirmSubaccountCin(
        request: Vobiz.ConfirmSubaccountCinRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__confirmSubaccountCin(request, requestOptions));
    }

    private async __confirmSubaccountCin(
        request: Vobiz.ConfirmSubaccountCinRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/cin/confirm`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/cin/confirm",
        );
    }

    /**
     * Returns the DigiLocker authorization link and an `access_request_id`.
     * The customer completes the OAuth flow on the DigiLocker portal, after
     * which you finalize with
     * [DigiLocker verify](#operation/subaccount-digilocker-verify).
     *
     * @param {Vobiz.SubaccountDigilockerInitiateRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKyc.subaccountDigilockerInitiate({
     *         sub_auth_id: "SA_XXXXXX",
     *         redirect_url: "https://partner.example.com/kyc/callback"
     *     })
     */
    public subaccountDigilockerInitiate(
        request: Vobiz.SubaccountDigilockerInitiateRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__subaccountDigilockerInitiate(request, requestOptions));
    }

    private async __subaccountDigilockerInitiate(
        request: Vobiz.SubaccountDigilockerInitiateRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/digilocker/initiate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/digilocker/initiate",
        );
    }

    /**
     * Finalize Aadhaar via DigiLocker after the customer completes OAuth.
     *
     * @param {Vobiz.SubaccountDigilockerVerifyRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKyc.subaccountDigilockerVerify({
     *         sub_auth_id: "SA_XXXXXX",
     *         access_request_id: "AR_xxxxxxxx"
     *     })
     */
    public subaccountDigilockerVerify(
        request: Vobiz.SubaccountDigilockerVerifyRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__subaccountDigilockerVerify(request, requestOptions));
    }

    private async __subaccountDigilockerVerify(
        request: Vobiz.SubaccountDigilockerVerifyRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc/digilocker/verify`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc/digilocker/verify",
        );
    }

    /**
     * Creates a Vobiz-hosted KYC session for the sub-account. With
     * `flow_type=email` (default) Vobiz emails the customer a signed link
     * (from `kyc@vobiz.ai`, hosted at `kyc.vobiz.ai`) and `customer_email` is
     * required. With `flow_type=redirect`, omit `customer_email`, pass a
     * `redirect_url`, and the `widget_url` is returned directly for an inline
     * redirect.
     *
     * This is the sub-account–scoped equivalent of the partner-level
     * [KYC Sessions](/partner/api/kyc-sessions) endpoint.
     *
     * @param {Vobiz.CreateSubaccountKycSessionRequest} request
     * @param {SubAccountKycClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccountKyc.createSubaccountKycSession({
     *         sub_auth_id: "SA_XXXXXX",
     *         account_auth_id: "SA_XXXXXX",
     *         flow_type: "email",
     *         customer_email: "customer@example.com",
     *         webhook_url: "https://your-app.example.com/kyc/webhook",
     *         expires_in_days: 30
     *     })
     *
     * @example
     *     await client.subAccountKyc.createSubaccountKycSession({
     *         sub_auth_id: "SA_XXXXXX",
     *         account_auth_id: "SA_XXXXXX",
     *         flow_type: "redirect",
     *         redirect_url: "https://your-app.example.com/kyc/done",
     *         webhook_url: "https://your-app.example.com/kyc/webhook",
     *         expires_in_days: 30
     *     })
     */
    public createSubaccountKycSession(
        request: Vobiz.CreateSubaccountKycSessionRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createSubaccountKycSession(request, requestOptions));
    }

    private async __createSubaccountKycSession(
        request: Vobiz.CreateSubaccountKycSessionRequest,
        requestOptions?: SubAccountKycClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/${core.url.encodePathParam(subAuthId)}/kyc-sessions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Vobiz.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/{sub_auth_id}/kyc-sessions",
        );
    }
}
