// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace AudioStreamsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AudioStreamsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AudioStreamsClient.Options>;

    constructor(options: AudioStreamsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all audio streams on a live call.
     *
     * @param {Vobiz.ListStreamsRequest} request
     * @param {AudioStreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.audioStreams.listStreams({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid"
     *     })
     */
    public listStreams(
        request: Vobiz.ListStreamsRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__listStreams(request, requestOptions));
    }

    private async __listStreams(
        request: Vobiz.ListStreamsRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Stream/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Stream/",
        );
    }

    /**
     * Start streaming raw audio from a live call to a WebSocket URL.
     *
     * @param {Vobiz.StartStreamRequest} request
     * @param {AudioStreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.audioStreams.startStream({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid",
     *         service_url: "wss://your-server.com/ws",
     *         bidirectional: true,
     *         audio_track: "both"
     *     })
     */
    public startStream(
        request: Vobiz.StartStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__startStream(request, requestOptions));
    }

    private async __startStream(
        request: Vobiz.StartStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, call_uuid: callUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Stream/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Stream/",
        );
    }

    /**
     * Get details of a specific audio stream.
     *
     * @param {Vobiz.GetStreamRequest} request
     * @param {AudioStreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.audioStreams.getStream({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid",
     *         stream_id: "stream_id"
     *     })
     */
    public getStream(
        request: Vobiz.GetStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getStream(request, requestOptions));
    }

    private async __getStream(
        request: Vobiz.GetStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid, stream_id: streamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Stream/${core.url.encodePathParam(streamId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Stream/{stream_id}/",
        );
    }

    /**
     * Stop a specific audio stream on a live call.
     *
     * @param {Vobiz.StopStreamRequest} request
     * @param {AudioStreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.audioStreams.stopStream({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid",
     *         stream_id: "stream_id"
     *     })
     */
    public stopStream(
        request: Vobiz.StopStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__stopStream(request, requestOptions));
    }

    private async __stopStream(
        request: Vobiz.StopStreamRequest,
        requestOptions?: AudioStreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid, stream_id: streamId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Stream/${core.url.encodePathParam(streamId)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Stream/{stream_id}/",
        );
    }
}
