// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace TrunksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Configure SIP trunks for inbound and outbound calling
 */
export class TrunksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TrunksClient.Options>;

    constructor(options: TrunksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all SIP trunks configured on the account.
     *
     * @param {Vobiz.ListTrunksRequest} request
     * @param {TrunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trunks.listTrunks({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listTrunks(
        request: Vobiz.ListTrunksRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListTrunksResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTrunks(request, requestOptions));
    }

    private async __listTrunks(
        request: Vobiz.ListTrunksRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListTrunksResponse>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListTrunksResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/trunks",
        );
    }

    /**
     * Create a new SIP trunk for inbound or outbound calling.
     *
     * @param {Vobiz.CreateTrunkRequest} request
     * @param {TrunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trunks.createTrunk({
     *         auth_id: "MA_XXXXXX",
     *         name: "My Outbound Trunk",
     *         trunk_type: "OUTBOUND",
     *         max_concurrent_calls: 10,
     *         webhook_url: "https://your-app.example.com/trunk-webhook",
     *         webhook_method: "POST"
     *     })
     */
    public createTrunk(
        request: Vobiz.CreateTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateTrunkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTrunk(request, requestOptions));
    }

    private async __createTrunk(
        request: Vobiz.CreateTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateTrunkResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateTrunkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/trunks",
        );
    }

    /**
     * Get details of a specific SIP trunk.
     *
     * @param {Vobiz.RetrieveTrunkRequest} request
     * @param {TrunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trunks.retrieveTrunk({
     *         auth_id: "MA_XXXXXX",
     *         trunk_id: "trunk_XXXXXX"
     *     })
     */
    public retrieveTrunk(
        request: Vobiz.RetrieveTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.RetrieveTrunkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveTrunk(request, requestOptions));
    }

    private async __retrieveTrunk(
        request: Vobiz.RetrieveTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.RetrieveTrunkResponse>> {
        const { auth_id: authId, trunk_id: trunkId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks/${core.url.encodePathParam(trunkId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.RetrieveTrunkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/trunks/{trunk_id}",
        );
    }

    /**
     * Update a SIP trunk's name, configuration, or status.
     *
     * @param {Vobiz.UpdateTrunkRequest} request
     * @param {TrunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trunks.updateTrunk({
     *         auth_id: "MA_XXXXXX",
     *         trunk_id: "trunk_id",
     *         name: "name",
     *         max_concurrent_calls: 1,
     *         enabled: true
     *     })
     */
    public updateTrunk(
        request: Vobiz.UpdateTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UpdateTrunkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateTrunk(request, requestOptions));
    }

    private async __updateTrunk(
        request: Vobiz.UpdateTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UpdateTrunkResponse>> {
        const { auth_id: authId, trunk_id: trunkId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks/${core.url.encodePathParam(trunkId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UpdateTrunkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v1/Account/{auth_id}/trunks/{trunk_id}",
        );
    }

    /**
     * Permanently delete a SIP trunk.
     *
     * @param {Vobiz.DeleteTrunkRequest} request
     * @param {TrunksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trunks.deleteTrunk({
     *         auth_id: "MA_XXXXXX",
     *         trunk_id: "trunk_id"
     *     })
     */
    public deleteTrunk(
        request: Vobiz.DeleteTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): core.HttpResponsePromise<string | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTrunk(request, requestOptions));
    }

    private async __deleteTrunk(
        request: Vobiz.DeleteTrunkRequest,
        requestOptions?: TrunksClient.RequestOptions,
    ): Promise<core.WithRawResponse<string | undefined>> {
        const { auth_id: authId, trunk_id: trunkId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks/${core.url.encodePathParam(trunkId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/trunks/{trunk_id}",
        );
    }
}
