// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace PartnerApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Reseller and white-label endpoints for managing customer sub-accounts, balance transfers, transactions, CDRs, and DIDs across your partner ecosystem
 */
export class PartnerApiClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PartnerApiClient.Options>;

    constructor(options: PartnerApiClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the authenticated partner's profile and balance.
     *
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.getPartnerProfile()
     */
    public getPartnerProfile(
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetPartnerProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPartnerProfile(requestOptions));
    }

    private async __getPartnerProfile(
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetPartnerProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetPartnerProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/partner/me");
    }

    /**
     * Aggregated partner metrics - total customers, active accounts, balance
     * held across the partner ecosystem, MTD revenue, etc.
     *
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.getPartnerDashboard()
     */
    public getPartnerDashboard(
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetPartnerDashboardResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPartnerDashboard(requestOptions));
    }

    private async __getPartnerDashboard(
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetPartnerDashboardResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/dashboard",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetPartnerDashboardResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/partner/dashboard");
    }

    /**
     * Returns all customer sub-accounts under your partner account.
     *
     * @param {Vobiz.ListCustomerAccountsRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.listCustomerAccounts()
     */
    public listCustomerAccounts(
        request: Vobiz.ListCustomerAccountsRequest = {},
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListCustomerAccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCustomerAccounts(request, requestOptions));
    }

    private async __listCustomerAccounts(
        request: Vobiz.ListCustomerAccountsRequest = {},
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListCustomerAccountsResponse>> {
        const { page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/accounts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListCustomerAccountsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/partner/accounts");
    }

    /**
     * Creates a new customer sub-account under your partner account. VoBiz
     * emails the customer their login credentials and (separately) a KYC link
     * via the kyc-sessions endpoint.
     *
     * @param {Vobiz.CreateCustomerAccountRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.createCustomerAccount({
     *         name: "John Doe",
     *         email: "john@example.com",
     *         phone: "+919876543210",
     *         password: "SecurePass123!",
     *         country: "IN"
     *     })
     */
    public createCustomerAccount(
        request: Vobiz.CreateCustomerAccountRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createCustomerAccount(request, requestOptions));
    }

    private async __createCustomerAccount(
        request: Vobiz.CreateCustomerAccountRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/accounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/partner/accounts");
    }

    /**
     * Atomically debits your partner master balance and credits the customer's
     * wallet. Both legs are recorded in each account's ledger. Transfers are
     * **permanent and cannot be reversed.**
     *
     * @param {Vobiz.PartnerTransferBalanceRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     *
     * @example
     *     await client.partnerApi.partnerTransferBalance({
     *         customer_auth_id: "MA_ZKITB8Z2",
     *         amount: 500,
     *         currency: "INR"
     *     })
     */
    public partnerTransferBalance(
        request: Vobiz.PartnerTransferBalanceRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__partnerTransferBalance(request, requestOptions));
    }

    private async __partnerTransferBalance(
        request: Vobiz.PartnerTransferBalanceRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { customer_auth_id: customerAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/accounts/${core.url.encodePathParam(customerAuthId)}/transfer-balance`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/partner/accounts/{customer_auth_id}/transfer-balance",
        );
    }

    /**
     * Returns the customer's transaction ledger. Filter by date range or
     * transaction type. Useful for billing reconciliation.
     *
     * @param {Vobiz.ListCustomerTransactionsRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.listCustomerTransactions({
     *         customer_auth_id: "customer_auth_id",
     *         from_date: "2026-03-01",
     *         to_date: "2026-03-31"
     *     })
     */
    public listCustomerTransactions(
        request: Vobiz.ListCustomerTransactionsRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListCustomerTransactionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCustomerTransactions(request, requestOptions));
    }

    private async __listCustomerTransactions(
        request: Vobiz.ListCustomerTransactionsRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListCustomerTransactionsResponse>> {
        const {
            customer_auth_id: customerAuthId,
            from_date: fromDate,
            to_date: toDate,
            transaction_type: transactionType,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from_date: fromDate != null ? fromDate : undefined,
            to_date: toDate != null ? toDate : undefined,
            transaction_type: transactionType != null ? transactionType : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/accounts/${core.url.encodePathParam(customerAuthId)}/transactions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Vobiz.ListCustomerTransactionsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/partner/accounts/{customer_auth_id}/transactions",
        );
    }

    /**
     * Look up any customer's call history. Same filter set as the
     * customer-side CDR endpoint.
     *
     * @param {Vobiz.ListCustomerCdrsRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.listCustomerCdrs({
     *         customer_auth_id: "customer_auth_id",
     *         hangup_cause: "NO_ANSWER"
     *     })
     */
    public listCustomerCdrs(
        request: Vobiz.ListCustomerCdrsRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListCustomerCdrsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCustomerCdrs(request, requestOptions));
    }

    private async __listCustomerCdrs(
        request: Vobiz.ListCustomerCdrsRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListCustomerCdrsResponse>> {
        const {
            customer_auth_id: customerAuthId,
            start_date: startDate,
            end_date: endDate,
            call_direction: callDirection,
            status,
            min_duration: minDuration,
            hangup_cause: hangupCause,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            start_date: startDate != null ? startDate : undefined,
            end_date: endDate != null ? endDate : undefined,
            call_direction: callDirection != null ? callDirection : undefined,
            status: status != null ? status : undefined,
            min_duration: minDuration,
            hangup_cause: hangupCause,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/accounts/${core.url.encodePathParam(customerAuthId)}/cdrs`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListCustomerCdrsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/partner/accounts/{customer_auth_id}/cdrs",
        );
    }

    /**
     * Phone numbers currently assigned to a customer account.
     *
     * @param {Vobiz.ListCustomerNumbersRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.listCustomerNumbers({
     *         customer_auth_id: "customer_auth_id"
     *     })
     */
    public listCustomerNumbers(
        request: Vobiz.ListCustomerNumbersRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListCustomerNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCustomerNumbers(request, requestOptions));
    }

    private async __listCustomerNumbers(
        request: Vobiz.ListCustomerNumbersRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListCustomerNumbersResponse>> {
        const { customer_auth_id: customerAuthId, search, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            search,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/accounts/${core.url.encodePathParam(customerAuthId)}/numbers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListCustomerNumbersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/partner/accounts/{customer_auth_id}/numbers",
        );
    }

    /**
     * @param {Vobiz.ListKycSessionsRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.listKycSessions()
     */
    public listKycSessions(
        request: Vobiz.ListKycSessionsRequest = {},
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListKycSessionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listKycSessions(request, requestOptions));
    }

    private async __listKycSessions(
        request: Vobiz.ListKycSessionsRequest = {},
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListKycSessionsResponse>> {
        const { status, account_auth_id: accountAuthId, page, size } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            account_auth_id: accountAuthId,
            page,
            size,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/kyc-sessions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListKycSessionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/partner/kyc-sessions");
    }

    /**
     * Triggers VoBiz to email a KYC link to the customer. KYC is OTP-based
     * (PAN + Aadhaar via DigiLocker for individuals, PAN + GSTIN for
     * companies). No document uploads required.
     *
     * @param {Vobiz.CreateKycSessionRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     * @throws {@link Vobiz.UnprocessableEntityError}
     *
     * @example
     *     await client.partnerApi.createKycSession({
     *         account_auth_id: "MA_ZKITB8Z2"
     *     })
     */
    public createKycSession(
        request: Vobiz.CreateKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__createKycSession(request, requestOptions));
    }

    private async __createKycSession(
        request: Vobiz.CreateKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                "api/v1/partner/kyc-sessions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Vobiz.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/partner/kyc-sessions");
    }

    /**
     * @param {Vobiz.GetKycSessionRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.partnerApi.getKycSession({
     *         session_id: "session_id"
     *     })
     */
    public getKycSession(
        request: Vobiz.GetKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getKycSession(request, requestOptions));
    }

    private async __getKycSession(
        request: Vobiz.GetKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { session_id: sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/kyc-sessions/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/partner/kyc-sessions/{session_id}",
        );
    }

    /**
     * Cancels an outstanding KYC session. Customer can no longer use the link.
     *
     * @param {Vobiz.RevokeKycSessionRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.ConflictError}
     *
     * @example
     *     await client.partnerApi.revokeKycSession({
     *         session_id: "session_id"
     *     })
     */
    public revokeKycSession(
        request: Vobiz.RevokeKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__revokeKycSession(request, requestOptions));
    }

    private async __revokeKycSession(
        request: Vobiz.RevokeKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { session_id: sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/kyc-sessions/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new Vobiz.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/partner/kyc-sessions/{session_id}",
        );
    }

    /**
     * Re-dispatches the KYC link to the customer. Rate-limited to once per 30 minutes.
     *
     * @param {Vobiz.ResendKycSessionRequest} request
     * @param {PartnerApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.ConflictError}
     * @throws {@link Vobiz.TooManyRequestsError}
     *
     * @example
     *     await client.partnerApi.resendKycSession({
     *         session_id: "session_id"
     *     })
     */
    public resendKycSession(
        request: Vobiz.ResendKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__resendKycSession(request, requestOptions));
    }

    private async __resendKycSession(
        request: Vobiz.ResendKycSessionRequest,
        requestOptions?: PartnerApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { session_id: sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/partner/kyc-sessions/${core.url.encodePathParam(sessionId)}/resend`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vobiz.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Vobiz.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/partner/kyc-sessions/{session_id}/resend",
        );
    }
}
