// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace PhoneNumbersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage phone numbers on your account
 */
export class PhoneNumbersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PhoneNumbersClient.Options>;

    constructor(options: PhoneNumbersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all phone numbers on your account.
     *
     * @param {Vobiz.ListNumbersRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.phoneNumbers.listNumbers({
     *         auth_id: "MA_XXXXXX",
     *         search: "+919876543210"
     *     })
     */
    public listNumbers(
        request: Vobiz.ListNumbersRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listNumbers(request, requestOptions));
    }

    private async __listNumbers(
        request: Vobiz.ListNumbersRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListNumbersResponse>> {
        const { auth_id: authId, page, per_page: perPage, search } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            per_page: perPage,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/numbers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListNumbersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/numbers",
        );
    }

    /**
     * Release a phone number from your account. By default, the number enters
     * `pending_release` for a 24-hour cooldown. You can cancel the release during
     * that window. Set `immediate=true` to skip the cooldown; an immediate release
     * cannot be cancelled.
     *
     * @param {Vobiz.UnrentNumberRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.phoneNumbers.unrentNumber({
     *         auth_id: "MA_XXXXXX",
     *         e164: "%2B919876543210"
     *     })
     */
    public unrentNumber(
        request: Vobiz.UnrentNumberRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UnrentNumberResponse> {
        return core.HttpResponsePromise.fromPromise(this.__unrentNumber(request, requestOptions));
    }

    private async __unrentNumber(
        request: Vobiz.UnrentNumberRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UnrentNumberResponse>> {
        const { auth_id: authId, e164, immediate } = request;
        const _queryParams: Record<string, unknown> = {
            immediate,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(e164)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UnrentNumberResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/numbers/{e164}",
        );
    }

    /**
     * Cancel a pending number release during the 24-hour cooldown. The number is
     * restored to `active`, the cooldown timer is cleared, and the release fee is
     * refunded in full to the account balance. Any trunk or voice application
     * detached by the release is not re-attached automatically.
     *
     * @param {Vobiz.CancelNumberReleaseRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.UnauthorizedError}
     * @throws {@link Vobiz.ForbiddenError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.phoneNumbers.cancelNumberRelease({
     *         account_id: "MA_XXXXXX",
     *         e164: "%2B919876543210"
     *     })
     */
    public cancelNumberRelease(
        request: Vobiz.CancelNumberReleaseRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CancelNumberReleaseResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelNumberRelease(request, requestOptions));
    }

    private async __cancelNumberRelease(
        request: Vobiz.CancelNumberReleaseRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CancelNumberReleaseResponse>> {
        const { account_id: accountId, e164 } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/account/${core.url.encodePathParam(accountId)}/numbers/${core.url.encodePathParam(e164)}/cancel-release`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CancelNumberReleaseResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Vobiz.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vobiz.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/account/{account_id}/numbers/{e164}/cancel-release",
        );
    }

    /**
     * Browse available phone numbers in inventory that are not assigned to
     * any account. Only numbers with `status='active'` and `auth_id=NULL`
     * are returned. These numbers are ready to be purchased.
     *
     * @param {Vobiz.ListInventoryNumbersRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.phoneNumbers.listInventoryNumbers({
     *         auth_id: "MA_XXXXXX",
     *         country: "IN",
     *         exclude: "9180,9192"
     *     })
     */
    public listInventoryNumbers(
        request: Vobiz.ListInventoryNumbersRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListInventoryNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listInventoryNumbers(request, requestOptions));
    }

    private async __listInventoryNumbers(
        request: Vobiz.ListInventoryNumbersRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListInventoryNumbersResponse>> {
        const { auth_id: authId, country, search, exclude, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            country,
            search,
            exclude,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/inventory/numbers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListInventoryNumbersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/inventory/numbers",
        );
    }

    /**
     * Purchase a phone number from inventory and assign it to your account.
     * Debits your account balance for the setup fee and monthly fee. For
     * sub-accounts (SA_), the parent master account (MA_) is charged.
     *
     * @param {Vobiz.PurchaseFromInventoryRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     * @throws {@link Vobiz.InternalServerError}
     *
     * @example
     *     await client.phoneNumbers.purchaseFromInventory({
     *         auth_id: "MA_XXXXXX",
     *         e164: "+919876543210",
     *         currency: "USD"
     *     })
     */
    public purchaseFromInventory(
        request: Vobiz.PurchaseFromInventoryRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__purchaseFromInventory(request, requestOptions));
    }

    private async __purchaseFromInventory(
        request: Vobiz.PurchaseFromInventoryRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/numbers/purchase-from-inventory`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Vobiz.InternalServerError(_response.error.body as Vobiz.Error_, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/numbers/purchase-from-inventory",
        );
    }

    /**
     * Assign a phone number to a specific SIP trunk. Once assigned, all
     * inbound calls to that phone number will be routed through the
     * designated trunk. The phone number must be URL-encoded; use `%2B`
     * instead of `+` (e.g., `%2B912271264217`).
     *
     * @param {Vobiz.AssignNumberToTrunkRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.phoneNumbers.assignNumberToTrunk({
     *         auth_id: "MA_XXXXXX",
     *         phone_number: "%2B912271264217",
     *         trunk_group_id: "e3e55a78-1234-5678-90ab-cdef12345678"
     *     })
     */
    public assignNumberToTrunk(
        request: Vobiz.AssignNumberToTrunkRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__assignNumberToTrunk(request, requestOptions));
    }

    private async __assignNumberToTrunk(
        request: Vobiz.AssignNumberToTrunkRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, phone_number: phoneNumber, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(phoneNumber)}/assign`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/numbers/{phone_number}/assign",
        );
    }

    /**
     * Remove the assignment between a phone number and a SIP trunk. After
     * unassignment, the number remains in your account inventory but will
     * no longer route inbound calls through the previously assigned trunk.
     * URL-encode the phone number (use `%2B` instead of `+`).
     *
     * @param {Vobiz.UnassignNumberFromTrunkRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.phoneNumbers.unassignNumberFromTrunk({
     *         auth_id: "MA_XXXXXX",
     *         phone_number: "%2B912271264217"
     *     })
     */
    public unassignNumberFromTrunk(
        request: Vobiz.UnassignNumberFromTrunkRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unassignNumberFromTrunk(request, requestOptions));
    }

    private async __unassignNumberFromTrunk(
        request: Vobiz.UnassignNumberFromTrunkRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, phone_number: phoneNumber } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(phoneNumber)}/assign`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/numbers/{phone_number}/assign",
        );
    }

    /**
     * Returns the health & analytics dashboard for one of your numbers: current
     * status, spam flag, and call metrics over the selected window (total and
     * answered calls, answer rate, minutes, average duration) plus a per-period
     * time series of snapshots.
     *
     * @param {Vobiz.GetNumberHealthRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.phoneNumbers.getNumberHealth({
     *         auth_id: "MA_XXXXXX",
     *         e164: "%2B919876543210",
     *         days: 30
     *     })
     */
    public getNumberHealth(
        request: Vobiz.GetNumberHealthRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetNumberHealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getNumberHealth(request, requestOptions));
    }

    private async __getNumberHealth(
        request: Vobiz.GetNumberHealthRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetNumberHealthResponse>> {
        const { auth_id: authId, e164, granularity, days } = request;
        const _queryParams: Record<string, unknown> = {
            granularity: granularity != null ? granularity : undefined,
            days,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(e164)}/health`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetNumberHealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/account/{auth_id}/numbers/{e164}/health",
        );
    }

    /**
     * Assign a parent-pool DID to a sub-account.
     *
     * @param {Vobiz.AssignDidToSubaccountRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.phoneNumbers.assignDidToSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         e164: "%2B919876543210",
     *         sub_account_id: "SA_XXXXXX"
     *     })
     */
    public assignDidToSubaccount(
        request: Vobiz.AssignDidToSubaccountRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__assignDidToSubaccount(request, requestOptions));
    }

    private async __assignDidToSubaccount(
        request: Vobiz.AssignDidToSubaccountRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, e164, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(e164)}/assign-subaccount`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/account/{auth_id}/numbers/{e164}/assign-subaccount",
        );
    }

    /**
     * Move the DID back to the parent pool.
     *
     * A **15-day cool-off** is enforced: if the DID had a call within the last
     * 15 days, the request is rejected with `409` and a
     * `did_cool_off_in_effect` error that includes `cool_off_until` and
     * `cool_off_remaining_seconds`. Never-used DIDs (`last_call_at` is `NULL`)
     * move back immediately.
     *
     * Admins can bypass the cool-off with `?force=true` (see below); the
     * bypass writes a `did_assignment_audit` row and requires an
     * admin-role account.
     *
     * @param {Vobiz.UnassignDidFromSubaccountRequest} request
     * @param {PhoneNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.ForbiddenError}
     * @throws {@link Vobiz.ConflictError}
     *
     * @example
     *     await client.phoneNumbers.unassignDidFromSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         e164: "%2B919876543210",
     *         force: true
     *     })
     */
    public unassignDidFromSubaccount(
        request: Vobiz.UnassignDidFromSubaccountRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unassignDidFromSubaccount(request, requestOptions));
    }

    private async __unassignDidFromSubaccount(
        request: Vobiz.UnassignDidFromSubaccountRequest,
        requestOptions?: PhoneNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, e164, force } = request;
        const _queryParams: Record<string, unknown> = {
            force,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/account/${core.url.encodePathParam(authId)}/numbers/${core.url.encodePathParam(e164)}/assign-subaccount`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Vobiz.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vobiz.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/account/{auth_id}/numbers/{e164}/assign-subaccount",
        );
    }
}
