// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace RecordCallsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecordCallsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecordCallsClient.Options>;

    constructor(options: RecordCallsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Begin recording an active call. Set format, enable transcription, and configure a callback URL.
     *
     * @param {Vobiz.StartRecordingRequest} request
     * @param {RecordCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.recordCalls.startRecording({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "cdr_XXXXXXXXXX",
     *         time_limit: 120,
     *         file_format: "mp3"
     *     })
     */
    public startRecording(
        request: Vobiz.StartRecordingRequest,
        requestOptions?: RecordCallsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__startRecording(request, requestOptions));
    }

    private async __startRecording(
        request: Vobiz.StartRecordingRequest,
        requestOptions?: RecordCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, call_uuid: callUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Record/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Record/",
        );
    }

    /**
     * Stop an active recording on an in-progress call.
     *
     * @param {Vobiz.StopRecordingRequest} request
     * @param {RecordCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.recordCalls.stopRecording({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid"
     *     })
     */
    public stopRecording(
        request: Vobiz.StopRecordingRequest,
        requestOptions?: RecordCallsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__stopRecording(request, requestOptions));
    }

    private async __stopRecording(
        request: Vobiz.StopRecordingRequest,
        requestOptions?: RecordCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Record/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Record/",
        );
    }
}
