// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace ConferenceMembersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConferenceMembersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConferenceMembersClient.Options>;

    constructor(options: ConferenceMembersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Prevent a member from speaking. Use `all` as member_id to mute everyone.
     *
     * @param {Vobiz.MuteMemberRequest} request
     * @param {ConferenceMembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferenceMembers.muteMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public muteMember(
        request: Vobiz.MuteMemberRequest,
        requestOptions?: ConferenceMembersClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__muteMember(request, requestOptions));
    }

    private async __muteMember(
        request: Vobiz.MuteMemberRequest,
        requestOptions?: ConferenceMembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Mute/`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Mute/",
        );
    }

    /**
     * Allow a muted member to speak again.
     *
     * @param {Vobiz.UnmuteMemberRequest} request
     * @param {ConferenceMembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferenceMembers.unmuteMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public unmuteMember(
        request: Vobiz.UnmuteMemberRequest,
        requestOptions?: ConferenceMembersClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unmuteMember(request, requestOptions));
    }

    private async __unmuteMember(
        request: Vobiz.UnmuteMemberRequest,
        requestOptions?: ConferenceMembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Mute/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Mute/",
        );
    }
}
