// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace DtmfClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DtmfClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DtmfClient.Options>;

    constructor(options: DtmfClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Send DTMF (keypad) tones on an active call. Use `w` for 0.5s pause, `W` for 1s pause.
     *
     * @param {Vobiz.SendDtmfRequest} request
     * @param {DtmfClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dtmf.sendDtmf({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid",
     *         digits: "1234",
     *         leg: "aleg"
     *     })
     */
    public sendDtmf(
        request: Vobiz.SendDtmfRequest,
        requestOptions?: DtmfClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__sendDtmf(request, requestOptions));
    }

    private async __sendDtmf(
        request: Vobiz.SendDtmfRequest,
        requestOptions?: DtmfClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/DTMF/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/DTMF/",
        );
    }
}
