// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace CallsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Make and manage outbound calls
 */
export class CallsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CallsClient.Options>;

    constructor(options: CallsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Initiate an outbound call to a PSTN number or SIP endpoint.
     * Use `<` to separate multiple destinations (max 1000).
     *
     * @param {Vobiz.MakeCallRequest} request
     * @param {CallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.calls.makeCall({
     *         auth_id: "MA_XXXXXX",
     *         from: "14155551234",
     *         to: "+919876543210",
     *         answer_url: "https://example.com/answer",
     *         answer_method: "POST"
     *     })
     */
    public makeCall(
        request: Vobiz.MakeCallRequest,
        requestOptions?: CallsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.MakeCallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__makeCall(request, requestOptions));
    }

    private async __makeCall(
        request: Vobiz.MakeCallRequest,
        requestOptions?: CallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.MakeCallResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.MakeCallResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Call/",
        );
    }
}
