// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace ConferencesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConferencesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConferencesClient.Options>;

    constructor(options: ConferencesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve conference room names reported by the API. An empty array is inconclusive and can occur while conferences are active. Maintain your own room registry for authoritative discovery, billing, cleanup, and destructive workflows.
     *
     * @param {Vobiz.ListConferencesRequest} request
     * @param {ConferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferences.listConferences({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listConferences(
        request: Vobiz.ListConferencesRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListConferencesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listConferences(request, requestOptions));
    }

    private async __listConferences(
        request: Vobiz.ListConferencesRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListConferencesResponse>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListConferencesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Conference/",
        );
    }

    /**
     * Terminate all active conference rooms.
     *
     * @param {Vobiz.DeleteAllConferencesRequest} request
     * @param {ConferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferences.deleteAllConferences({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public deleteAllConferences(
        request: Vobiz.DeleteAllConferencesRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAllConferences(request, requestOptions));
    }

    private async __deleteAllConferences(
        request: Vobiz.DeleteAllConferencesRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/",
        );
    }

    /**
     * Retrieve a specific conference room. A live conference can currently return a 200 response with an error payload instead of conference details.
     *
     * @param {Vobiz.GetConferenceRequest} request
     * @param {ConferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.conferences.getConference({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "My Conf Room"
     *     })
     */
    public getConference(
        request: Vobiz.GetConferenceRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetConferenceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConference(request, requestOptions));
    }

    private async __getConference(
        request: Vobiz.GetConferenceRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetConferenceResponse>> {
        const { auth_id: authId, conference_name: conferenceName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetConferenceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/",
        );
    }

    /**
     * Terminate a specific conference room and disconnect all members.
     *
     * @param {Vobiz.DeleteConferenceRequest} request
     * @param {ConferencesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferences.deleteConference({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name"
     *     })
     */
    public deleteConference(
        request: Vobiz.DeleteConferenceRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteConference(request, requestOptions));
    }

    private async __deleteConference(
        request: Vobiz.DeleteConferenceRequest,
        requestOptions?: ConferencesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/",
        );
    }
}
