// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace LiveCallsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Retrieve and control in-progress calls
 */
export class LiveCallsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LiveCallsClient.Options>;

    constructor(options: LiveCallsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all queued (pending, not yet connected) calls on the account.
     *
     * @param {Vobiz.ListQueuedCallsRequest} request
     * @param {LiveCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.liveCalls.listQueuedCalls({
     *         auth_id: "MA_XXXXXX",
     *         status: "live"
     *     })
     */
    public listQueuedCalls(
        request: Vobiz.ListQueuedCallsRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListQueuedCallsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listQueuedCalls(request, requestOptions));
    }

    private async __listQueuedCalls(
        request: Vobiz.ListQueuedCallsRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListQueuedCallsResponse>> {
        const { auth_id: authId, status } = request;
        const _queryParams: Record<string, unknown> = {
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListQueuedCallsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call/",
        );
    }

    /**
     * Retrieve all currently active (live) calls on the account.
     *
     * @param {Vobiz.ListLiveCallsRequest} request
     * @param {LiveCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.liveCalls.listLiveCalls({
     *         auth_id: "MA_XXXXXX",
     *         status: "live"
     *     })
     */
    public listLiveCalls(
        request: Vobiz.ListLiveCallsRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListLiveCallsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listLiveCalls(request, requestOptions));
    }

    private async __listLiveCalls(
        request: Vobiz.ListLiveCallsRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListLiveCallsResponse>> {
        const { auth_id: authId, status } = request;
        const _queryParams: Record<string, unknown> = {
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListLiveCallsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call",
        );
    }

    /**
     * Retrieve details of a specific live or queued call.
     *
     * @param {Vobiz.GetLiveCallRequest} request
     * @param {LiveCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.liveCalls.getLiveCall({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "cdr_XXXXXXXXXX",
     *         status: "live"
     *     })
     */
    public getLiveCall(
        request: Vobiz.GetLiveCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetLiveCallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getLiveCall(request, requestOptions));
    }

    private async __getLiveCall(
        request: Vobiz.GetLiveCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetLiveCallResponse>> {
        const { auth_id: authId, call_uuid: callUuid, status } = request;
        const _queryParams: Record<string, unknown> = {
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetLiveCallResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}",
        );
    }

    /**
     * Terminate an active call by its UUID.
     *
     * @param {Vobiz.HangupCallRequest} request
     * @param {LiveCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.liveCalls.hangupCall({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid"
     *     })
     */
    public hangupCall(
        request: Vobiz.HangupCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__hangupCall(request, requestOptions));
    }

    private async __hangupCall(
        request: Vobiz.HangupCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}",
        );
    }

    /**
     * Retrieve details of a specific queued (pending) call.
     *
     * @param {Vobiz.GetQueuedCallRequest} request
     * @param {LiveCallsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.liveCalls.getQueuedCall({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "cdr_XXXXXXXXXX",
     *         status: "live"
     *     })
     */
    public getQueuedCall(
        request: Vobiz.GetQueuedCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetQueuedCallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getQueuedCall(request, requestOptions));
    }

    private async __getQueuedCall(
        request: Vobiz.GetQueuedCallRequest,
        requestOptions?: LiveCallsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetQueuedCallResponse>> {
        const { auth_id: authId, call_uuid: callUuid, status } = request;
        const _queryParams: Record<string, unknown> = {
            status,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetQueuedCallResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/",
        );
    }
}
