// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace ApplicationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage voice and messaging applications with webhook URLs
 */
export class ApplicationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationsClient.Options>;

    constructor(options: ApplicationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get details of all applications created under your Vobiz account.
     *
     * @param {Vobiz.ListApplicationsRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.UnauthorizedError}
     *
     * @example
     *     await client.applications.listApplications({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listApplications(
        request: Vobiz.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListApplicationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listApplications(request, requestOptions));
    }

    private async __listApplications(
        request: Vobiz.ListApplicationsRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListApplicationsResponse>> {
        const { auth_id: authId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Application/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListApplicationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Vobiz.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Application/",
        );
    }

    /**
     * Creates an Application with webhook URLs for call handling.
     * Creating an application is usually a first step, after which you
     * attach the application to either a number or an endpoint.
     *
     * @param {Vobiz.CreateApplicationRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.UnauthorizedError}
     *
     * @example
     *     await client.applications.createApplication({
     *         auth_id: "MA_XXXXXX",
     *         app_name: "My Voice Application",
     *         answer_url: "https://example.com/answer",
     *         answer_method: "POST"
     *     })
     */
    public createApplication(
        request: Vobiz.CreateApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createApplication(request, requestOptions));
    }

    private async __createApplication(
        request: Vobiz.CreateApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateApplicationResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Application/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateApplicationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Vobiz.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Application/",
        );
    }

    /**
     * Get details of a particular application by passing the app_id.
     *
     * @param {Vobiz.RetrieveApplicationRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.applications.retrieveApplication({
     *         auth_id: "MA_XXXXXX",
     *         app_id: "12345678"
     *     })
     */
    public retrieveApplication(
        request: Vobiz.RetrieveApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.RetrieveApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveApplication(request, requestOptions));
    }

    private async __retrieveApplication(
        request: Vobiz.RetrieveApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.RetrieveApplicationResponse>> {
        const { auth_id: authId, app_id: appId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Application/${core.url.encodePathParam(appId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.RetrieveApplicationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Application/{app_id}/",
        );
    }

    /**
     * Modify an application using this API. You can update any subset of
     * fields (partial update). Fields not provided will remain unchanged.
     *
     * @param {Vobiz.UpdateApplicationRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.applications.updateApplication({
     *         auth_id: "MA_XXXXXX",
     *         app_id: "12345678",
     *         app_name: "Updated Application Name",
     *         default_number_app: true
     *     })
     */
    public updateApplication(
        request: Vobiz.UpdateApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UpdateApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateApplication(request, requestOptions));
    }

    private async __updateApplication(
        request: Vobiz.UpdateApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UpdateApplicationResponse>> {
        const { auth_id: authId, app_id: appId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Application/${core.url.encodePathParam(appId)}/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UpdateApplicationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Application/{app_id}/",
        );
    }

    /**
     * Permanently delete an Application. If the application is associated
     * with phone numbers, the deletion may be blocked unless those
     * associations are removed first.
     *
     * @param {Vobiz.DeleteApplicationRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     * @throws {@link Vobiz.ConflictError}
     *
     * @example
     *     await client.applications.deleteApplication({
     *         auth_id: "MA_XXXXXX",
     *         app_id: "12345678"
     *     })
     */
    public deleteApplication(
        request: Vobiz.DeleteApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<string | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteApplication(request, requestOptions));
    }

    private async __deleteApplication(
        request: Vobiz.DeleteApplicationRequest,
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string | undefined>> {
        const { auth_id: authId, app_id: appId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Application/${core.url.encodePathParam(appId)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new Vobiz.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Application/{app_id}/",
        );
    }
}
