// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace PlayAudioClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PlayAudioClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PlayAudioClient.Options>;

    constructor(options: PlayAudioClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Play an audio file to a live call leg.
     *
     * @param {Vobiz.PlayAudioCallRequest} request
     * @param {PlayAudioClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.playAudio.call({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid",
     *         urls: "https://example.com/audio.mp3",
     *         legs: "aleg"
     *     })
     */
    public call(
        request: Vobiz.PlayAudioCallRequest,
        requestOptions?: PlayAudioClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__call(request, requestOptions));
    }

    private async __call(
        request: Vobiz.PlayAudioCallRequest,
        requestOptions?: PlayAudioClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Play/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Play/",
        );
    }

    /**
     * Stop audio playing on a live call.
     *
     * @param {Vobiz.StopAudioCallRequest} request
     * @param {PlayAudioClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.playAudio.stopAudioCall({
     *         auth_id: "MA_XXXXXX",
     *         call_uuid: "call_uuid"
     *     })
     */
    public stopAudioCall(
        request: Vobiz.StopAudioCallRequest,
        requestOptions?: PlayAudioClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__stopAudioCall(request, requestOptions));
    }

    private async __stopAudioCall(
        request: Vobiz.StopAudioCallRequest,
        requestOptions?: PlayAudioClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, call_uuid: callUuid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Call/${core.url.encodePathParam(callUuid)}/Play/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Call/{call_uuid}/Play/",
        );
    }
}
