// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace OriginationUriClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OriginationUriClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OriginationUriClient.Options>;

    constructor(options: OriginationUriClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Add an inbound SIP endpoint (origination URI) to a trunk.
     *
     * @param {Vobiz.CreateOriginationUriRequest} request
     * @param {OriginationUriClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.originationUri.createOriginationUri({
     *         auth_id: "MA_XXXXXX",
     *         name: "Primary SBC",
     *         sip_uri: "sip:sbc.example.com",
     *         priority: 1
     *     })
     */
    public createOriginationUri(
        request: Vobiz.CreateOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateOriginationUriResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createOriginationUri(request, requestOptions));
    }

    private async __createOriginationUri(
        request: Vobiz.CreateOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateOriginationUriResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/origination-uris`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateOriginationUriResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/origination-uris",
        );
    }

    /**
     * Retrieve all origination URIs on the account.
     *
     * @param {Vobiz.ListOriginationUrisRequest} request
     * @param {OriginationUriClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.originationUri.listOriginationUris({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listOriginationUris(
        request: Vobiz.ListOriginationUrisRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListOriginationUrisResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOriginationUris(request, requestOptions));
    }

    private async __listOriginationUris(
        request: Vobiz.ListOriginationUrisRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListOriginationUrisResponse>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks/origination-uris`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListOriginationUrisResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/trunks/origination-uris",
        );
    }

    /**
     * Update an existing origination URI.
     *
     * @param {Vobiz.UpdateOriginationUriRequest} request
     * @param {OriginationUriClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.originationUri.updateOriginationUri({
     *         auth_id: "MA_XXXXXX",
     *         uri_id: "uri_id",
     *         name: "name",
     *         priority: 1
     *     })
     */
    public updateOriginationUri(
        request: Vobiz.UpdateOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UpdateOriginationUriResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateOriginationUri(request, requestOptions));
    }

    private async __updateOriginationUri(
        request: Vobiz.UpdateOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UpdateOriginationUriResponse>> {
        const { auth_id: authId, uri_id: uriId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/origination-uris/${core.url.encodePathParam(uriId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UpdateOriginationUriResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v1/Account/{auth_id}/origination-uris/{uri_id}",
        );
    }

    /**
     * Delete an origination URI from a trunk.
     *
     * @param {Vobiz.DeleteOriginationUriRequest} request
     * @param {OriginationUriClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.originationUri.deleteOriginationUri({
     *         auth_id: "MA_XXXXXX",
     *         uri_id: "uri_id"
     *     })
     */
    public deleteOriginationUri(
        request: Vobiz.DeleteOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): core.HttpResponsePromise<string | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteOriginationUri(request, requestOptions));
    }

    private async __deleteOriginationUri(
        request: Vobiz.DeleteOriginationUriRequest,
        requestOptions?: OriginationUriClient.RequestOptions,
    ): Promise<core.WithRawResponse<string | undefined>> {
        const { auth_id: authId, uri_id: uriId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/origination-uris/${core.url.encodePathParam(uriId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/origination-uris/{uri_id}",
        );
    }
}
