// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace SubAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create and manage sub-accounts
 */
export class SubAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountsClient.Options>;

    constructor(options: SubAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all sub-accounts under the master account.
     *
     * @param {Vobiz.ListSubaccountsRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccounts.listSubaccounts({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listSubaccounts(
        request: Vobiz.ListSubaccountsRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListSubaccountsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSubaccounts(request, requestOptions));
    }

    private async __listSubaccounts(
        request: Vobiz.ListSubaccountsRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListSubaccountsResponse>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(authId)}/sub-accounts/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListSubaccountsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{auth_id}/sub-accounts/",
        );
    }

    /**
     * Create a new sub-account under the master account.
     *
     * Set `kyc_mode` to control how the sub-account is verified:
     *
     * - `personal_use` *(default)* - the sub-account inherits the parent's
     *   KYC; no separate verification is required.
     * - `customer_use` - the sub-account must complete its own KYC before it
     *   can place calls. A fresh `customer_use` sub-account is returned with
     *   `kyc_calls_blocked: true`. `customer_use` **requires** `email`.
     *
     * @param {Vobiz.CreateSubaccountRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccounts.createSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         name: "Customer Co",
     *         email: "customer@example.com",
     *         password: "Customer@12345",
     *         kyc_mode: "customer_use",
     *         business_type: "private_limited"
     *     })
     */
    public createSubaccount(
        request: Vobiz.CreateSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateSubaccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSubaccount(request, requestOptions));
    }

    private async __createSubaccount(
        request: Vobiz.CreateSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateSubaccountResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(authId)}/sub-accounts/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateSubaccountResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/accounts/{auth_id}/sub-accounts/",
        );
    }

    /**
     * Retrieve details of a specific sub-account.
     *
     * @param {Vobiz.RetrieveSubaccountRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccounts.retrieveSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         sub_auth_id: "SA_XXXXXX"
     *     })
     */
    public retrieveSubaccount(
        request: Vobiz.RetrieveSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.RetrieveSubaccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveSubaccount(request, requestOptions));
    }

    private async __retrieveSubaccount(
        request: Vobiz.RetrieveSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.RetrieveSubaccountResponse>> {
        const { auth_id: authId, sub_auth_id: subAuthId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(authId)}/sub-accounts/${core.url.encodePathParam(subAuthId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.RetrieveSubaccountResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/accounts/{auth_id}/sub-accounts/{sub_auth_id}",
        );
    }

    /**
     * Update the name or status of a sub-account, or change its `kyc_mode`.
     *
     * Promoting an existing sub-account to `customer_use` requires the
     * sub-account to already have an `email` (otherwise `400`). On any
     * `kyc_mode` change, `kyc_calls_blocked` is re-derived from the
     * sub-account's current KYC state.
     *
     * @param {Vobiz.UpdateSubaccountRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccounts.updateSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         sub_auth_id: "sub_auth_id",
     *         kyc_mode: "customer_use"
     *     })
     */
    public updateSubaccount(
        request: Vobiz.UpdateSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UpdateSubaccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateSubaccount(request, requestOptions));
    }

    private async __updateSubaccount(
        request: Vobiz.UpdateSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UpdateSubaccountResponse>> {
        const { auth_id: authId, sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(authId)}/sub-accounts/${core.url.encodePathParam(subAuthId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UpdateSubaccountResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v1/accounts/{auth_id}/sub-accounts/{sub_auth_id}",
        );
    }

    /**
     * Permanently delete a sub-account and revoke its credentials.
     *
     * @param {Vobiz.DeleteSubaccountRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccounts.deleteSubaccount({
     *         auth_id: "MA_XXXXXX",
     *         sub_auth_id: "sub_auth_id"
     *     })
     */
    public deleteSubaccount(
        request: Vobiz.DeleteSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.DeleteSubaccountResponse | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSubaccount(request, requestOptions));
    }

    private async __deleteSubaccount(
        request: Vobiz.DeleteSubaccountRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.DeleteSubaccountResponse | undefined>> {
        const { auth_id: authId, sub_auth_id: subAuthId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/accounts/${core.url.encodePathParam(authId)}/sub-accounts/${core.url.encodePathParam(subAuthId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Vobiz.DeleteSubaccountResponse | undefined,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/accounts/{auth_id}/sub-accounts/{sub_auth_id}",
        );
    }
}
