// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace ConferenceRecordingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConferenceRecordingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConferenceRecordingClient.Options>;

    constructor(options: ConferenceRecordingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Queue recording for all audio in a conference room. The response does not include a recording ID or download URL.
     *
     * @param {Vobiz.StartConferenceRecordingRequest} request
     * @param {ConferenceRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferenceRecording.startConferenceRecording({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name"
     *     })
     */
    public startConferenceRecording(
        request: Vobiz.StartConferenceRecordingRequest,
        requestOptions?: ConferenceRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__startConferenceRecording(request, requestOptions));
    }

    private async __startConferenceRecording(
        request: Vobiz.StartConferenceRecordingRequest,
        requestOptions?: ConferenceRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, conference_name: conferenceName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Record/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Record/",
        );
    }

    /**
     * Stop recording a conference room.
     *
     * @param {Vobiz.StopConferenceRecordingRequest} request
     * @param {ConferenceRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conferenceRecording.stopConferenceRecording({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name"
     *     })
     */
    public stopConferenceRecording(
        request: Vobiz.StopConferenceRecordingRequest,
        requestOptions?: ConferenceRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__stopConferenceRecording(request, requestOptions));
    }

    private async __stopConferenceRecording(
        request: Vobiz.StopConferenceRecordingRequest,
        requestOptions?: ConferenceRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Record/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Record/",
        );
    }
}
