// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace BulkOperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Endpoints that act on many records in one request. These accept the request, process it in the background, and deliver the result by email.
 */
export class BulkOperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BulkOperationsClient.Options>;

    constructor(options: BulkOperationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Queue a bulk export of the recordings matching your filter criteria. The request is
     * validated and accepted for background processing, and the resulting archive is emailed
     * as a download link to every address in `recipient.customer_account`. The archive is
     * typically available within 15-60 minutes depending on volume.
     *
     * Results are delivered by email only; the export runs to completion in the background
     * after the `202` response.
     *
     * One export runs at a time per account. While an export is in progress, further requests
     * return `403`.
     *
     * Filter rules:
     * - Use either `from`/`to` or the `recording_storage_duration*` filters, not both.
     * - Use one of `__gt` or `__gte`, and one of `__lt` or `__lte`.
     * - When using range filters (`__gte`/`__lte`), provide both.
     * - Maximum date range is 1 year (366 days); maximum storage duration range is 30 days.
     * - The additional filters (`from_number`, `to_number`, `call_uuid`, `conference_name`,
     *   `recording_format`, `recording_id`) apply when the range is 30 days or less.
     *
     * @param {Vobiz.BulkExportRecordingsRequest} request
     * @param {BulkOperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.BadRequestError}
     * @throws {@link Vobiz.ForbiddenError}
     *
     * @example
     *     await client.bulkOperations.bulkExportRecordings({
     *         auth_id: "MA_XXXXXX",
     *         recipient: {
     *             customer_account: ["admin@example.com"]
     *         },
     *         from: "2025-01-23 00:00:00",
     *         to: "2025-01-30 23:59:59"
     *     })
     *
     * @example
     *     await client.bulkOperations.bulkExportRecordings({
     *         auth_id: "MA_XXXXXX",
     *         recipient: {
     *             customer_account: ["admin@example.com"]
     *         },
     *         recording_storage_duration: "7"
     *     })
     *
     * @example
     *     await client.bulkOperations.bulkExportRecordings({
     *         auth_id: "MA_XXXXXX",
     *         recipient: {
     *             customer_account: ["admin@example.com"]
     *         },
     *         recording_storage_duration__gte: "7",
     *         recording_storage_duration__lte: "30"
     *     })
     *
     * @example
     *     await client.bulkOperations.bulkExportRecordings({
     *         auth_id: "MA_XXXXXX",
     *         recipient: {
     *             customer_account: ["admin@example.com", "backup@example.com"]
     *         },
     *         from: "2025-01-01 00:00:00",
     *         to: "2025-01-30 23:59:59",
     *         conference_name: "TeamMeeting",
     *         recording_format: "mp3"
     *     })
     */
    public bulkExportRecordings(
        request: Vobiz.BulkExportRecordingsRequest,
        requestOptions?: BulkOperationsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.BulkExportRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkExportRecordings(request, requestOptions));
    }

    private async __bulkExportRecordings(
        request: Vobiz.BulkExportRecordingsRequest,
        requestOptions?: BulkOperationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.BulkExportRecordingsResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/export/recording/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.BulkExportRecordingsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Vobiz.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Vobiz.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/export/recording/",
        );
    }
}
