// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace IpAccessControlListClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IpAccessControlListClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IpAccessControlListClient.Options>;

    constructor(options: IpAccessControlListClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Add an IP access control rule to restrict SIP trunk access.
     *
     * @param {Vobiz.CreateIpAclRequest} request
     * @param {IpAccessControlListClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipAccessControlList.createIpAcl({
     *         auth_id: "MA_XXXXXX",
     *         name: "Office IP",
     *         ip_address: "ip_address"
     *     })
     */
    public createIpAcl(
        request: Vobiz.CreateIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.CreateIpAclResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createIpAcl(request, requestOptions));
    }

    private async __createIpAcl(
        request: Vobiz.CreateIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.CreateIpAclResponse>> {
        const { auth_id: authId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/ip-acl`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.CreateIpAclResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/ip-acl",
        );
    }

    /**
     * Retrieve all IP access control rules on the account.
     *
     * @param {Vobiz.ListIpAclsRequest} request
     * @param {IpAccessControlListClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipAccessControlList.listIpAcls({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listIpAcls(
        request: Vobiz.ListIpAclsRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListIpAclsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listIpAcls(request, requestOptions));
    }

    private async __listIpAcls(
        request: Vobiz.ListIpAclsRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListIpAclsResponse>> {
        const { auth_id: authId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/trunks/ip-acl`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListIpAclsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/trunks/ip-acl",
        );
    }

    /**
     * Update an existing IP access control rule.
     *
     * @param {Vobiz.UpdateIpAclRequest} request
     * @param {IpAccessControlListClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipAccessControlList.updateIpAcl({
     *         auth_id: "MA_XXXXXX",
     *         ip_acl_id: "ip_acl_id",
     *         name: "name",
     *         ip_address: "ip_address"
     *     })
     */
    public updateIpAcl(
        request: Vobiz.UpdateIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.UpdateIpAclResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateIpAcl(request, requestOptions));
    }

    private async __updateIpAcl(
        request: Vobiz.UpdateIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.UpdateIpAclResponse>> {
        const { auth_id: authId, ip_acl_id: ipAclId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/ip-acl/${core.url.encodePathParam(ipAclId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.UpdateIpAclResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v1/Account/{auth_id}/ip-acl/{ip_acl_id}",
        );
    }

    /**
     * Remove an IP access control rule.
     *
     * @param {Vobiz.DeleteIpAclRequest} request
     * @param {IpAccessControlListClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipAccessControlList.deleteIpAcl({
     *         auth_id: "MA_XXXXXX",
     *         ip_acl_id: "ip_acl_id"
     *     })
     */
    public deleteIpAcl(
        request: Vobiz.DeleteIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): core.HttpResponsePromise<string | undefined> {
        return core.HttpResponsePromise.fromPromise(this.__deleteIpAcl(request, requestOptions));
    }

    private async __deleteIpAcl(
        request: Vobiz.DeleteIpAclRequest,
        requestOptions?: IpAccessControlListClient.RequestOptions,
    ): Promise<core.WithRawResponse<string | undefined>> {
        const { auth_id: authId, ip_acl_id: ipAclId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/ip-acl/${core.url.encodePathParam(ipAclId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string | undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/ip-acl/{ip_acl_id}",
        );
    }
}
