// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Vobiz from "../../../index.js";

export declare namespace CdrClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Call detail records and history
 */
export class CdrClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CdrClient.Options>;

    constructor(options: CdrClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all CDRs for your account. Supports filtering by phone numbers,
     * date range, call direction, duration, and pagination.
     *
     * @param {Vobiz.ListCdrsRequest} request
     * @param {CdrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cdr.listCdrs({
     *         auth_id: "MA_XXXXXX",
     *         from_number: "9876543210",
     *         to_number: "1234567890",
     *         start_date: "2026-03-01",
     *         end_date: "2026-03-17",
     *         min_duration: 10,
     *         sip_call_id: "dD1qwu5VZ5iK3ed5u3uspjY5RKL",
     *         bridge_uuid: "4b7ae653-f40d-42f1-b582-6b05dfcd0c0a",
     *         hangup_cause: "NORMAL_CLEARING",
     *         hangup_disposition: "send_refuse",
     *         context: "sip-trunking"
     *     })
     */
    public listCdrs(
        request: Vobiz.ListCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListCdrsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCdrs(request, requestOptions));
    }

    private async __listCdrs(
        request: Vobiz.ListCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListCdrsResponse>> {
        const {
            auth_id: authId,
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate,
            end_date: endDate,
            call_direction: callDirection,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate != null ? startDate : undefined,
            end_date: endDate != null ? endDate : undefined,
            call_direction: callDirection != null ? callDirection : undefined,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/cdr`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListCdrsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/Account/{auth_id}/cdr");
    }

    /**
     * Identical filters to the list endpoint, but the response also includes a
     * `filter_summary` object describing the active filters applied.
     *
     * @param {Vobiz.SearchCdrsRequest} request
     * @param {CdrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cdr.searchCdrs({
     *         auth_id: "MA_XXXXXX",
     *         from_number: "9876543210",
     *         to_number: "1234567890",
     *         start_date: "2026-03-01",
     *         end_date: "2026-03-17",
     *         min_duration: 10,
     *         sip_call_id: "dD1qwu5VZ5iK3ed5u3uspjY5RKL",
     *         bridge_uuid: "4b7ae653-f40d-42f1-b582-6b05dfcd0c0a",
     *         hangup_cause: "NORMAL_CLEARING",
     *         hangup_disposition: "send_refuse",
     *         context: "sip-trunking"
     *     })
     */
    public searchCdrs(
        request: Vobiz.SearchCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.SearchCdrsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchCdrs(request, requestOptions));
    }

    private async __searchCdrs(
        request: Vobiz.SearchCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.SearchCdrsResponse>> {
        const {
            auth_id: authId,
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate,
            end_date: endDate,
            call_direction: callDirection,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate != null ? startDate : undefined,
            end_date: endDate != null ? endDate : undefined,
            call_direction: callDirection != null ? callDirection : undefined,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/cdr/search`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.SearchCdrsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/cdr/search",
        );
    }

    /**
     * Returns the most recent CDRs for your account without requiring a date range.
     * Default 20 records; use `limit` to retrieve more.
     *
     * @param {Vobiz.ListRecentCdrsRequest} request
     * @param {CdrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.cdr.listRecentCdrs({
     *         auth_id: "MA_XXXXXX",
     *         limit: 50
     *     })
     */
    public listRecentCdrs(
        request: Vobiz.ListRecentCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListRecentCdrsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listRecentCdrs(request, requestOptions));
    }

    private async __listRecentCdrs(
        request: Vobiz.ListRecentCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListRecentCdrsResponse>> {
        const { auth_id: authId, limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/cdr/recent`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListRecentCdrsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/cdr/recent",
        );
    }

    /**
     * Returns CDR data as a downloadable CSV file. Same filters as the list endpoint.
     *
     * **Note:** Do NOT send `Accept: application/json` on this endpoint - the response is `text/csv`.
     */
    public exportCdrs(
        request: Vobiz.ExportCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exportCdrs(request, requestOptions));
    }

    private async __exportCdrs(
        request: Vobiz.ExportCdrsRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const {
            auth_id: authId,
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate,
            end_date: endDate,
            call_direction: callDirection,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from_number: fromNumber,
            to_number: toNumber,
            start_date: startDate != null ? startDate : undefined,
            end_date: endDate != null ? endDate : undefined,
            call_direction: callDirection != null ? callDirection : undefined,
            min_duration: minDuration,
            sip_call_id: sipCallId,
            bridge_uuid: bridgeUuid,
            hangup_cause: hangupCause,
            hangup_disposition: hangupDisposition,
            context,
            campaign_id: campaignId,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/cdr/export`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/cdr/export",
        );
    }

    /**
     * Retrieve the CDR for a specific completed call using its `call_id`.
     * Useful when you have a `call_id` from a callback or previous API response.
     *
     * @param {Vobiz.GetCdrRequest} request
     * @param {CdrClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Vobiz.NotFoundError}
     *
     * @example
     *     await client.cdr.getCdr({
     *         auth_id: "MA_XXXXXX",
     *         call_id: "abc123-def456-ghi789"
     *     })
     */
    public getCdr(
        request: Vobiz.GetCdrRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetCdrResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCdr(request, requestOptions));
    }

    private async __getCdr(
        request: Vobiz.GetCdrRequest,
        requestOptions?: CdrClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetCdrResponse>> {
        const { auth_id: authId, call_id: callId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/cdr/${core.url.encodePathParam(callId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetCdrResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Vobiz.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.VobizError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/cdr/{call_id}",
        );
    }
}
