// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace RecordingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RecordingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RecordingsClient.Options>;

    constructor(options: RecordingsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all call recordings on the account.
     *
     * @param {Vobiz.ListRecordingsRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.recordings.listRecordings({
     *         auth_id: "MA_XXXXXX"
     *     })
     */
    public listRecordings(
        request: Vobiz.ListRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.ListRecordingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listRecordings(request, requestOptions));
    }

    private async __listRecordings(
        request: Vobiz.ListRecordingsRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.ListRecordingsResponse>> {
        const { auth_id: authId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Recording/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.ListRecordingsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Recording/",
        );
    }

    /**
     * Get details and download URL for a specific recording.
     *
     * @param {Vobiz.GetRecordingRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.recordings.getRecording({
     *         auth_id: "MA_XXXXXX",
     *         recording_id: "rec_XXXXXXXXXX"
     *     })
     */
    public getRecording(
        request: Vobiz.GetRecordingRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.GetRecordingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRecording(request, requestOptions));
    }

    private async __getRecording(
        request: Vobiz.GetRecordingRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.GetRecordingResponse>> {
        const { auth_id: authId, recording_id: recordingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Recording/${core.url.encodePathParam(recordingId)}/`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.GetRecordingResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/Account/{auth_id}/Recording/{recording_id}/",
        );
    }

    /**
     * Permanently delete a recording from the account.
     *
     * @param {Vobiz.DeleteRecordingRequest} request
     * @param {RecordingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.recordings.deleteRecording({
     *         auth_id: "MA_XXXXXX",
     *         recording_id: "recording_id"
     *     })
     */
    public deleteRecording(
        request: Vobiz.DeleteRecordingRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteRecording(request, requestOptions));
    }

    private async __deleteRecording(
        request: Vobiz.DeleteRecordingRequest,
        requestOptions?: RecordingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, recording_id: recordingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Recording/${core.url.encodePathParam(recordingId)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Recording/{recording_id}/",
        );
    }
}
