// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace ConferenceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage conference calls and members
 */
export class ConferenceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConferenceClient.Options>;

    constructor(options: ConferenceClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Remove one or more participants from a conference while allowing their XML flow to continue.
     *
     * @param {Vobiz.KickMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.kickMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public kickMember(
        request: Vobiz.KickMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__kickMember(request, requestOptions));
    }

    private async __kickMember(
        request: Vobiz.KickMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Kick/`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Kick/",
        );
    }

    /**
     * Terminate one or more active conference member calls. A normal active-member request disconnects the member. If a member was kicked, continued its XML flow, and rejoined with the same numeric member ID, confirm removal through conference exit or call hangup callbacks.
     *
     * @param {Vobiz.HangupMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.hangupMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public hangupMember(
        request: Vobiz.HangupMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__hangupMember(request, requestOptions));
    }

    private async __hangupMember(
        request: Vobiz.HangupMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/",
        );
    }

    /**
     * Play an audio file to a specific conference member.
     *
     * @param {Vobiz.PlayAudioMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.playAudioMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id",
     *         url: "https://example.com/audio.mp3"
     *     })
     */
    public playAudioMember(
        request: Vobiz.PlayAudioMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__playAudioMember(request, requestOptions));
    }

    private async __playAudioMember(
        request: Vobiz.PlayAudioMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Play/`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Play/",
        );
    }

    /**
     * Stop audio playback for a specific conference member.
     *
     * @param {Vobiz.StopAudioMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.stopAudioMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public stopAudioMember(
        request: Vobiz.StopAudioMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__stopAudioMember(request, requestOptions));
    }

    private async __stopAudioMember(
        request: Vobiz.StopAudioMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Play/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Play/",
        );
    }

    /**
     * Prevent a conference member from hearing other participants.
     *
     * @param {Vobiz.DeafMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.deafMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public deafMember(
        request: Vobiz.DeafMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__deafMember(request, requestOptions));
    }

    private async __deafMember(
        request: Vobiz.DeafMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Deaf/`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Deaf/",
        );
    }

    /**
     * Restore a conference member's ability to hear other participants.
     *
     * @param {Vobiz.UndeafMemberRequest} request
     * @param {ConferenceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.conference.undeafMember({
     *         auth_id: "MA_XXXXXX",
     *         conference_name: "conference_name",
     *         member_id: "member_id"
     *     })
     */
    public undeafMember(
        request: Vobiz.UndeafMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__undeafMember(request, requestOptions));
    }

    private async __undeafMember(
        request: Vobiz.UndeafMemberRequest,
        requestOptions?: ConferenceClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { auth_id: authId, conference_name: conferenceName, member_id: memberId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/Account/${core.url.encodePathParam(authId)}/Conference/${core.url.encodePathParam(conferenceName)}/Member/${core.url.encodePathParam(memberId)}/Deaf/`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/Account/{auth_id}/Conference/{conference_name}/Member/{member_id}/Deaf/",
        );
    }
}
