// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Vobiz from "../../../index.js";

export declare namespace SubAccountKycTestModeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Mock KYC endpoints that never call the upstream provider. Drive verified / failed / pending / error outcomes with magic inputs for integration testing.
 */
export class SubAccountKycTestModeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountKycTestModeClient.Options>;

    constructor(options: SubAccountKycTestModeClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Mock PAN verification - never hits the provider. Magic `pan` inputs:
     *
     * | Input | Outcome |
     * |---|---|
     * | `TESTSUCCESS0001` | verified |
     * | `TESTFAIL0001` | failed |
     * | `TESTERROR0001` | HTTP 500 |
     * | `TESTPENDING001` | pending (finalize as verified) |
     * | `TESTPENDING_FAIL` | pending (finalize as failed) |
     *
     * Persists a real `kyc_verifications` row and recomputes `kyc_status`.
     *
     * @param {Vobiz.MockVerifySubaccountPanRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockVerifySubaccountPan({
     *         sub_auth_id: "SA_XXXXXX",
     *         pan: "TESTSUCCESS0001"
     *     })
     */
    public mockVerifySubaccountPan(
        request: Vobiz.MockVerifySubaccountPanRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__mockVerifySubaccountPan(request, requestOptions));
    }

    private async __mockVerifySubaccountPan(
        request: Vobiz.MockVerifySubaccountPanRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/verify-pan`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/verify-pan",
        );
    }

    /**
     * Mock GST verification. Same magic-input matrix as [Mock verify PAN](#operation/mock-verify-subaccount-pan).
     *
     * @param {Vobiz.MockVerifySubaccountGstRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockVerifySubaccountGst({
     *         sub_auth_id: "SA_XXXXXX",
     *         gstin: "TESTSUCCESS0001GST"
     *     })
     */
    public mockVerifySubaccountGst(
        request: Vobiz.MockVerifySubaccountGstRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__mockVerifySubaccountGst(request, requestOptions));
    }

    private async __mockVerifySubaccountGst(
        request: Vobiz.MockVerifySubaccountGstRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/verify-gst`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/verify-gst",
        );
    }

    /**
     * Returns deterministic fake company matches.
     *
     * @param {Vobiz.MockSearchSubaccountCinRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockSearchSubaccountCin({
     *         sub_auth_id: "SA_XXXXXX",
     *         company_name: "ACME"
     *     })
     */
    public mockSearchSubaccountCin(
        request: Vobiz.MockSearchSubaccountCinRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__mockSearchSubaccountCin(request, requestOptions));
    }

    private async __mockSearchSubaccountCin(
        request: Vobiz.MockSearchSubaccountCinRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/cin/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/cin/search",
        );
    }

    /**
     * Succeeds when `selected_cin` starts with `U72900KA2024PTC123456`.
     *
     * @param {Vobiz.MockConfirmSubaccountCinRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockConfirmSubaccountCin({
     *         sub_auth_id: "SA_XXXXXX",
     *         company_name: "ACME",
     *         selected_cin: "U72900KA2024PTC123456"
     *     })
     */
    public mockConfirmSubaccountCin(
        request: Vobiz.MockConfirmSubaccountCinRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__mockConfirmSubaccountCin(request, requestOptions));
    }

    private async __mockConfirmSubaccountCin(
        request: Vobiz.MockConfirmSubaccountCinRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/cin/confirm`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/cin/confirm",
        );
    }

    /**
     * Returns a deterministic `access_request_id`.
     *
     * @param {Vobiz.MockSubaccountDigilockerInitiateRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockSubaccountDigilockerInitiate({
     *         sub_auth_id: "SA_XXXXXX",
     *         redirect_url: "https://partner.example.com/kyc/callback"
     *     })
     */
    public mockSubaccountDigilockerInitiate(
        request: Vobiz.MockSubaccountDigilockerInitiateRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__mockSubaccountDigilockerInitiate(request, requestOptions));
    }

    private async __mockSubaccountDigilockerInitiate(
        request: Vobiz.MockSubaccountDigilockerInitiateRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/digilocker/initiate`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/digilocker/initiate",
        );
    }

    /**
     * `access_request_id` `MOCK_AR_SUCCESS` → verified; `MOCK_AR_FAIL` → failed.
     *
     * @param {Vobiz.MockSubaccountDigilockerVerifyRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockSubaccountDigilockerVerify({
     *         sub_auth_id: "SA_XXXXXX",
     *         access_request_id: "MOCK_AR_SUCCESS"
     *     })
     */
    public mockSubaccountDigilockerVerify(
        request: Vobiz.MockSubaccountDigilockerVerifyRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__mockSubaccountDigilockerVerify(request, requestOptions));
    }

    private async __mockSubaccountDigilockerVerify(
        request: Vobiz.MockSubaccountDigilockerVerifyRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/digilocker/verify`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/digilocker/verify",
        );
    }

    /**
     * Promotes the most recent **pending** mock verification of the given
     * type to a terminal outcome - this drives the async (`TESTPENDING…`)
     * path without webhooks. `verification_type` ∈ `pan | aadhaar | gst | cin`;
     * `outcome` ∈ `verified | failed`.
     *
     * @param {Vobiz.MockFinalizePendingKycRequest} request
     * @param {SubAccountKycTestModeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.subAccountKycTestMode.mockFinalizePendingKyc({
     *         sub_auth_id: "SA_XXXXXX",
     *         verification_type: "pan",
     *         outcome: "verified"
     *     })
     */
    public mockFinalizePendingKyc(
        request: Vobiz.MockFinalizePendingKycRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): core.HttpResponsePromise<Vobiz.KycVerificationResult> {
        return core.HttpResponsePromise.fromPromise(this.__mockFinalizePendingKyc(request, requestOptions));
    }

    private async __mockFinalizePendingKyc(
        request: Vobiz.MockFinalizePendingKycRequest,
        requestOptions?: SubAccountKycTestModeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Vobiz.KycVerificationResult>> {
        const { sub_auth_id: subAuthId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Auth-ID": requestOptions?.authId ?? this._options?.authId,
                "X-Auth-Token": requestOptions?.authToken ?? this._options?.authToken,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VobizEnvironment.Production,
                `api/v1/sub-accounts/test/${core.url.encodePathParam(subAuthId)}/kyc/finalize-pending`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Vobiz.KycVerificationResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VobizError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/sub-accounts/test/{sub_auth_id}/kyc/finalize-pending",
        );
    }
}
